:root {
    --main-bg-color: #387701;
    --text-color-main: #7eff07;
  }
*{
    margin: 0;
    padding: 0;
    font-family: 'VT323';
    color: var(--text-color-main);
}
/*Header*/
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}
ul{
    display: flex;
    justify-content: end;
}
li{
    padding: 1rem;
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-button{
    font-size: 1.3rem;
    border: none;
    background-color: var(--main-bg-color);
    color: black;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.3s;
}
.nav-button:active{
    background-color: #091d01;
    color: #7eff07;
}
.nav-button:hover{
    transform: scale(1.3);
}
#logo{
    height: 5rem;
}

/* Main */
#bg-top{
    height: 200px;
    background-image: url(img/bg-top-main.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#bg-bot{
    height: 200px;
    background-image: url(img/bg-bot-main.png);
    background-size: 100% 105%;
    background-repeat: no-repeat;
}
main{
    display: grid;
    grid-template-columns: 55% 45%;
    background-image: url(img/bg-main.jpg);
    background-size: cover;
    color: #ffffff;
}
#bio{
    display: grid;
    align-content: center;
    margin-left: 4rem;
}
#bio h1{
    margin: 1.5rem 0 2rem 0;
    justify-content: center;
}
#dev-boy{
    margin-top: 6rem;
}

/* background */

#background{
    background: linear-gradient(0, #091c00, #000000);
}

/* Tools */

#tools-section {
    display: grid;
    grid-template-columns: 35vw;
    justify-items: center;
    justify-content: center;
    
}
#tools-section h2{
    font-size: 3rem;
    padding: 2rem 0 3rem 0;
}
#tools-div{
    display: grid;
    justify-items: center;
    grid-template-columns: 33% 33% 33%;
}
.icon{
    width: 3rem;
    margin: 2rem;
    transition: all 1s;
}
.icon:hover{
    transform: rotate(1.0turn);
}

/* Contact */

#contact-section{
    text-align: center;
    margin-top: 10rem;
}
#contact-section h2{
    font-size: 3rem;
    margin-bottom: 5rem;
}
#contact-div{
    display: flex;
}
.container{
    width: 33%;
    padding: 2rem;
}
#whatsapp{
    background-color: #24d367;
}
#github{
    background-color: #010100;
}
#linkedin{
    background-color: #0077B5;
}
